* {
    padding:0;
    margin:0;
    border:0 solid #000;
    font-family: helvetica;
}

header{
	 background-color: #2d89ef;
	 height: 50px;
	 width: 100%;
	 color: white; 
	 position: absolute;
	 left:0px ;
	 top: 0px;
}
header>div {
	height: 25px;
	width: 20%;
	position: absolute;
	top: 25px;
	left:calc(100% - 280px);
	color:#2A2C3E ;
	font-family: Cambria ; 

}
header>div>svg:focus { 
	fill:white ;
}

body{
    background: #fff ;
}

nav {
	background-color: #2A2C3E ;
    width:200px;
    height: calc(100% - 50px);
    position: absolute;
	left:0px;
	top:50px;
}
a{
	width: 190px;
	color:white;
	height:30px;
	font-size:12px;
	display: block;
	line-height: 30px;
	padding-left: 10px;
	border-bottom: 2px solid black ;
	text-decoration:none;
	font-family: Cambria ; 


}